<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReelRecs - Movie Recommendations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>ReelRecs</h1>
        <p>Your source for top movie recommendations</p>
    </header>
    <main>
        <h1>Error</h1>
    </main>
    

    <footer>
        <p>© 2023 ReelRecs</p>
    </footer>

    <script src="{{ url_for('static', filename='js/movie_display.js') }}"></script>
</body>
</html>
