<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReelRecs - Movie Recommendations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div id="header-content">
            <div>
                <h1>ReelRecs</h1>
                <p>Your source for top movie recommendations</p>
            </div>
            <nav>
                {% if current_user.is_authenticated %}
                    <!-- If user is logged in, display their username -->
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <!-- If user is not logged in, display sign in and sign up links -->
                    <a href="{{ url_for('login', next=request.url) }}">Log In</a>
                    <a href="{{ url_for('login', next=request.url) }}">Sign Up</a>
                {% endif %}
            </nav>
        </div>  
    </header>
    <main>
        <div class="container">
            <div>
                <h2 class="heading-label">{{title}}</h2>
                <div id="movie-list">
                    <div id="json-data" style="display: none;">{{ movies | tojson | safe }}</div>
                    <div id="rated-movies" style="display: none;">{{ rated_movies | tojson | safe }}</div>
                    <!-- Movie data will be inserted here dynamically -->
                </div>
            </div>
            <div>
                <div class="genre-links">
                    <h3>Genres</h3>
                    <div class="genre-divider">
                        <ul>
                            <li><a href="cooking-movies">Cooking</a></li>
                            <li><a href="action-movies">Action</a></li>
                            <li><a href="adventure-movies">Adventure</a></li>
                            <li><a href="comedy-movies">Comedy</a></li>
                            <li><a href="horror-movies">Horror</a></li>
                        </ul>
                        <ul>
                            <li><a href="animation-movies">Animation</a></li>
                            <li><a href="crime-movies">Crime</a></li>
                            <li><a href="documentary-movies">Documentary</a></li>
                            <li><a href="drama-movies">Drama</a></li>
                            <li><a href="family-movies">Family</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    

    <footer>
        <p>© 2023 ReelRecs</p>
    </footer>

    <script src="{{ url_for('static', filename='js/movie_display.js') }}"></script>
</body>
</html>
