<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ReelRecs</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500&display=swap"
            rel="stylesheet">
        <link rel="stylesheet"
            href="{{ url_for('static', filename='styles.css') }}">

    </head>
    <body>
        <header>
            <div id="header-content">
                <div>
                    <h1>ReelRecs</h1>
                    <p>Your source for top movie recommendations</p>
                </div>
                <nav>
                    {% if current_user.is_authenticated %}
                    <!-- If user is logged in, display their username -->
                    <a href="{{ url_for('logout') }}">Logout</a>
                    {% else %}
                    <!-- If user is not logged in, display sign in and sign up links -->
                    <a
                        href="{{ url_for('login', next=request.url, search=request.args.get('search', ''), title=request.args.get('title', '')) }}">Log
                        In</a>
                    <a
                        href="{{ url_for('login', next=request.url, search=request.args.get('search', ''), title=request.args.get('title', '')) }}">Sign
                        Up</a>
                    {% endif %}
                </nav>
            </div>
        </header>
        <nav id="authenticated-nav">
            <a href="{{ url_for('in_theaters') }}"
                class="{{ 'active' if request.path == url_for('in_theaters') else '' }}">Now
                Playing</a>
            <a href="{{ url_for('top_rated') }}"
                class="{{ 'active' if request.path == url_for('top_rated') else '' }}">Top
                Rated</a>
            <a href="{{ url_for('upcoming_movies') }}"
                class="{{ 'active' if request.path == url_for('upcoming_movies') else '' }}">Upcoming</a>

            {% if current_user.is_authenticated %}
            <a href="{{ url_for('rated') }}"
                class="{{ 'active' if request.path == url_for('rated') else '' }}">My
                Ratings</a>
            <a href="{{ url_for('recommended_movies') }}"
                class="{{ 'active' if request.path == url_for('recommended_movies') else '' }}">Recommended
                Movies</a>
            <a href="{{ url_for('watchlist_movies') }}"
                class="{{ 'active' if request.path == url_for('watchlist_movies') else '' }}">My
                Watchlist</a>
            {% endif %}
        </nav>
        <main>
            <div id="banner-div">
                <div class="overlay">
                    <div class="container" id="banner-wrapped">
                        <div id="movie-details" style="display: none;">{{
                            movie_details |
                            tojson | safe }}</div>
                        <div id="account-states" style="display: none;">{{
                            account_states |
                            tojson | safe }}</div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <p>© 2023 ReelRecs</p>
        </footer>

        <script src="{{ url_for('static', filename='js/movie_details.js') }}"></script>
    </body>
</html>
