{% extends "base.html" %}
{% block content %}
<main>
    <div id="banner-div">
        <div class="overlay">
            <div class="container" id="banner-wrapped">
                <div id="movie-details" style="display: none;">{{
                    movies | tojson | safe }}</div>
                <div id="account-states" style="display: none;">{{
                    account_states | tojson | safe }}</div>
            </div>
        </div>
    </div>
</main>
<script src="{{ url_for('static', filename='js/movie_details.js') }}"></script>
{% endblock %}