{% extends "base.html" %}
{% block content %}
<main>
    <div id="banner-div">
        <div class="overlay">
            <div class="container" id="banner-wrapped">
                <div id="movie-details" style="display: none;">{{
                    movies | tojson | safe }}</div>
                <div id="account-states" style="display: none;">{{
                    account_states | tojson | safe }}</div>
            </div>
        </div>
    </div>
    <div class="container cast-view">
        <div class="main-cast-container">
            <h3>Main Cast</h3>
            <div id="main-cast">
                <!-- Your cast member cards will be dynamically added here -->
                <div id="movie-cast" style="display: none;">{{ movie_cast |
                    tojson | safe }}</div>
            </div>
        </div>
    </div>

    <div class="media-view">
        <div class="container" id="media">
            <h3>Media</h3>
            <div id="media-items" style="display: none;">{{ media_items | tojson
                | safe }}</div>
            <div id="media-cards">
                <!-- Your media item cards will be dynamically added here -->
            </div>
        </div>
    </div>
</main>
<script src="{{ url_for('static', filename='js/movie_details.js') }}"></script>
{% endblock %}