{% extends "base.html" %}
{% block content %}
<main>
    <div class="container">
        <div>
            <h2 class="heading-label">{{title}}</h2>
            <div id="movie-list">
                <div id="json-data" style="display: none;">{{ movies |
                    tojson | safe }}</div>
                <div id="rated-movies" style="display: none;">{{
                    rated_movies | tojson | safe }}</div>
                <div id="watchlist-movies" style="display: none;">{{
                    watchlist_movies | tojson | safe }}</div>
                <div id="favorite-movies" style="display: none;">{{
                    favorite_movies | tojson | safe }}</div>
                <!-- Movie data will be inserted here dynamically -->
            </div>
        </div>
        <div id="search-and-genre-div">
            <div id="search-bar">
                <h3>Search</h3>
                <form action="{{ url_for('search') }}" method="GET">
                    <input class="form-field" type="text" name="query"
                        placeholder="Search for a movie">
                    <input class="submit-button" type="submit"
                        value="Search">
                </form>
            </div>
            <div class="genre-links">
                <h3>Genres</h3>
                <div class="genre-divider">
                    <ul>
                        <li><a href="/cooking-movies">Cooking</a></li>
                        <li><a href="/action-movies">Action</a></li>
                        <li><a href="/adventure-movies">Adventure</a></li>
                        <li><a href="/comedy-movies">Comedy</a></li>
                        <li><a href="/horror-movies">Horror</a></li>
                    </ul>
                    <ul>
                        <li><a href="/animation-movies">Animation</a></li>
                        <li><a href="/crime-movies">Crime</a></li>
                        <li><a href="/documentary-movies">Documentary</a></li>
                        <li><a href="/drama-movies">Drama</a></li>
                        <li><a href="/family-movies">Family</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
