* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
}

a,
button {
    font-weight: 400;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: #F5F5F5;
    color: #212121;
}

header {
    padding: 20px;
}

#header-content {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

header,
footer {
    background-color: #4b4a54;
    color: #FFFFFF;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin-top: 10px;
    font-size: 1.2em;
}

header nav a,
.submit-button {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #6663c0;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0);
    margin: 0 5px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

header nav a:hover,
.submit-button:hover {
    background-color: #454463;
}

header nav a:hover {
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 1);
}

main h2 {
    margin-bottom: 40px;
}

main h2,
main h3,
.genre-links h3,
h5 {
    text-align: center;
}

main h3,
.genre-links h3 {
    font-weight: 400;
}

h5 {
    font-weight: 400;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 50px auto;
    justify-content: center;
    align-items: space-between;
}

#search-bar {
    width: 100%;
    margin-bottom: 35px;
}

#search-bar h3 {
    text-align: left;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.form-field,
.submit-button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    border: none;
}

.submit-button {
    cursor: pointer;
}

.genre-divider {
    display: flex;
}

.genre-links,
.movie-card {
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(75, 74, 84, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.genre-links,
#search-bar {
    margin-left: 50px;

}

.genre-links h3 {
    font-size: 1.75em;
    text-align: center;
}

.genre-links ul {
    margin-top: 20px;
    padding: 0px 20px;
}

.genre-links li {
    list-style: none;
    padding: 5px;
}

.genre-links a {
    color: #424242;
    text-decoration-color: rgba(0, 0, 0, 0);
    transition: color 0.1s ease, text-decoration-color 0.1s ease;
    padding: 5px;
}

.genre-links a:hover,
.cast-info a:hover {
    color: #6663c0;
    text-decoration-color: #6663c0;
}

.genre-links a:active {
    color: #6663c0;
}

.heading-label {
    font-size: 2em;
}

#movie-list {
    width: 100%;
}

.movie-card {
    position: relative;
    margin: 10px auto;
    transition: all 0.2s ease;
    max-width: 900px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: #212121;
}

.movie-poster {
    width: 200px;
    margin-right: 20px;
}

.movie-card:hover {
    color: #454463;
    transform: scale(1.02);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.movie-card:hover .movie-name {
    color: #454463;
}

.movie-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.movie-info a {
    text-decoration: none;
    color: #212121;
}

.movie-info h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.movie-details-info h3 {
    font-size: 2.5em;
}

.movie-info h5 {
    margin-bottom: 20px;
    font-size: 1em;
}

.movie-details-info h5 {
    margin-bottom: 0;
    font-size: 1em;
}

.movie-description {
    padding: 0px 30px;
}

#banner-div {
    position: relative;
    width: 100%;
    background-image: url("");
    background-size: cover;
    height: 60vh;
    color: #FFFFFF;
}

.overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
}

#banner-wrapped {
    color: #FFFFFF;
    height: 100%;
    margin: 0;
    text-align: left;
}


.movie-details-card {
    display: flex;
    height: 100%;
}

.movie-details-card a {
    color: #FFFFFF;
    text-decoration: None;
}

.movie-details-poster {
    height: 90%;
    margin: auto 20px auto 0;
}

.movie-details-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.movie-details-info p {
    margin-top: 10px;
    padding: 0;
}

.movie-details-info h4 {
    margin-top: 25px;
    font-size: 1.5em;
    font-weight: 500;
}

#main-cast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
}

.main-cast-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-cast-container h3,
.media-view h3 {
    margin-bottom: 10px;
    font-size: 1.5em;

}

.main-cast-container h3 {
    color: #454463;
}

#media h3 {
    margin-top: 50px;
    color: #FFFFFF;
}


.cast-view {
    width: 100%;
}

.cast-card {
    width: 18%;
    /* Adjust the width to create more space between cards */
    margin: 10px;
    /* Add margins to create whitespace around cards */
}

.cast-image {
    max-width: 100%;
    height: auto;

}

.cast-image,
#videoPlayer {
    border-radius: 5px;
}

.cast-info h3 {
    margin-top: 10px;
    font-size: 1em;
}

.cast-info a {
    text-decoration-color: rgba(0, 0, 0, 0);
    color: #454463;
    transition: color 0.2s ease, text-decoration-color 0.2s ease;
}

#media {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.container .cast-view {
    margin-top: 50px;
}

.main-cast-container h3,
.media-view h3,
.main-cast-container h4 {
    margin-bottom: 10px;
    text-align: center;
    color: #454463;
}

.main-cast-container h3,
.media-view h3 {
    font-size: 2.25em;
}

.main-cast-container h4 {
    font-size: 1.25em;
}

.media-view {
    background-color: #6663c0;
    color: #FFFFFF;
}

button {
    color: #FFFFFF;
    background-color: #6663c0;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #454463;
}

.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 10px 15px 15px;
    padding: 0;
}


.star {
    cursor: pointer;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    color: gray;
    font-size: 30px;
    transition: color 0.1s ease;
}

.star:hover,
.star:hover ~ .star {
    color: gold;
}

.movie-details-star-container {
    margin: 0;
}

.movie-details-star-container .star {
    font-size: 45px;
}

.movie-details-buttons {
    margin-top: 10px;
}

.card-buttons,
.movie-details-buttons {
    display: flex;
    justify-content: flex-end;
}

.card-buttons button,
.movie-details-buttons button {
    background-color: #FFFFFF;
    color: #212121;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.2s ease, background-color 0.2s ease;
}

.card-buttons button:first-child,
.movie-details-buttons button:first-child {
    /* Remove left margin from the first button */
    margin-left: 0;
}

.card-buttons button:last-child,
.movie-details-buttons button:last-child {
    /* Remove right margin from the last button */
    margin-right: 0;
}

.card-buttons button:not(:first-child),
.movie-details-buttons button:not(:first-child) {
    /* Apply 5px left margin to all buttons except the first one */
    margin-left: 10px;
}

.card-buttons button:hover,
.movie-details-buttons button:hover {
    background-color: #6663c0;
    color: #FFFFFF;
}

.card-buttons .delete-rating-button:hover {
    background-color: #e53935;

}

.card-buttons button {
    padding: 5px 10px;
}

.movie-details-buttons button {
    padding: 10px 15px;
}

.movie-details-tagline {
    font-size: 1em;
    font-style: italic;
}

.video-slider {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;
    margin-top: 35px;
}

#videoPlayer,
.iframe-container {
    width: 100%;
}

#previousVideoButton,
#nextVideoButton {
    background-color: #FFFFFF;
    color: #212121;
    font-size: 1.25em;
    padding: 15px;
    margin: 20px;
    transition: color 0.2s ease, background-color 0.2s ease;
}

#previousVideoButton:hover,
#nextVideoButton:hover {
    background-color: #4b4a54;
    color: #FFFFFF;
}

.iframe-container {
    position: relative;
    display: inline-block;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    /* Center the spinner */
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.person-portrait {
    width: 400px;
    height: 600px;
    border-radius: 10px;
}

.person-info,
.person-movie-credit-container {
    color: #212121;
}

.person-info {
    margin-left: 50px;
}

.person-info h2,
.person-info h3 {
    text-align: left;
}

.person-info h2 {
    font-size: 2.5em;
    font-weight: 500;
}

.person-info h3,
#person-images h3,
#person-tagged-images-div h3,
#person-movie-credit-div h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

.person-info p,
.person-movie-credit-container p {
    font-size: 1.25em;
}

#person-banner-wrapped {
    display: flex;
    justify-content: center;
}

#person-images,
#person-tagged-images-div,
#person-movie-credit-div {
    display: flex;
    flex-direction: column;
}

.person-portraits,
.person-tagged-images,
.person-movie-credit-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.person-image,
.person-tagged-image {
    max-width: 20%;
    margin: 20px;
}

.person-movie-credit {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
    margin: 20px 0 40px 0;
}

.person-movie-credit a {
    height: 80%;
}

.person-movie-credit a img {
    height: 100%;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0.8;
}

.person-movie-credit a img:hover {
    transform: scale(1.1);
    opacity: 1;
}


.person-movie-credit h5 {
    font-size: 1em;
    margin-top: 10px;
}

#authenticated-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6663c0;
    color: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

#authenticated-nav a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.2s ease, background-color 0.2s ease;
    padding: 10px;
    margin: 0 50px;
}

#authenticated-nav a:hover,
#authenticated-nav a.active {
    color: rgba(255, 255, 255, 0.8);
    background-color: #4b4a54;
}


footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);
}